<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 text-center">
                <h2 class="col-12 alert-warning p-3">Data Not Found</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 mx-auto">
                <button type="button" class="btn btn-lg btn-warning p-3 mt-5" onclick="goHome()">กลับหน้าจอหลัก</button>
            </div>
        </div>
    </div>
    <script>
        function goHome(){
            window.location.href = '/';
        }
    </script>
</body>
</html>